cloudSuite/html/schema/lab.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:annotation>
      <xsd:appinfo>CloudSuite lab schema</xsd:appinfo>
      <xsd:documentation xml:lang="en">
        This is the object defenition for the lab object type
        used in CloudSuite.info
        Copyright 2012 Drew A. Clinkenbeard.
        All rights reserved.
      </xsd:documentation>
    </xsd:annotation>
    
     <!-- define simple elements -->
    <xsd:element name="owner" type="xsd:string"/>
    <xsd:element name="group" type="xsd:string"/>
    <xsd:element name="everyone" type="xsd:string"/>
    <xsd:elememt name="sequenceNumber" type="xsd:string"/>
    <xsd:element name="settings" type="xsd:string"/>
    
     <!-- define attributes-->
    <xsd:attribute name="id" type="xsd:string" />
    
    
    <!-- define complex elements -->
    <xsd:element name="module">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="settings" macOccurs="1"/>
                <xsd:element ref="sequenceNumber" macOccurs="1" use="required" />
            </xsd:sequence>
            <xsd:attribute ref="id" use="required"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="permissions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="owner" maxOccurs="1"/>
                <xsd:element ref="group" maxOccurs="1"/>
                <xsd:element ref="everyone" maxOccurs="1"/>
            </xsd:sequence>
       </xsd:complexType>
   </xsd:element>
        
    <xsd:element name="collection" >
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="module" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="lab">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="owner" maxOccurs="1"/>
                <xsd:element ref="permissions" maxOccurs="1"/>
                <xsd:element ref="collection" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute ref="id" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
