cloudSuite/html/schema/module.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/module.v2"
    xmlns:tns="http://xml.netbeans.org/schema/module.v2"
    elementFormDefault="qualified">
    <xsd:attribute name="id" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:complexType name="module">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:attribute name="clearance" type="xsd:string"/>
    <xsd:element name="product" type="xsd:string"></xsd:element>
    <xsd:simpleType name="type">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
