cloudSuite/html/manifest/manifest1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/manifest1"
    xmlns:tns="http://xml.netbeans.org/schema/manifest1"
    elementFormDefault="qualified">
    <xsd:complexType name="module">
        <xsd:sequence>
            <xsd:element name="node"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="group">
        <xsd:all/>
    </xsd:complexType>
</xsd:schema>
